mixin results()
    ul
        each duck in ducks
            li
                a(href=duck.url)
                    h2 #{duck.title}
                    img(src=duck.image)
                    span #{duck.price}
                form(method="POST")
                    button(name='toggleFav' value=duck.id)
                        if duck.isFav
                            i(class="fas fa-heart")
                        else
                            i(class="far fa-heart")
